.font-size {
  font-size: 80px;
}
.anchore {
  text-decoration: none;
}
.bullet {
  list-style-type: none;
}
.round {
  border-radius: 25px;
}

div.scrollmenu::-webkit-scrollbar {
  display: none;
}

.menu-wrapper {
  margin: 1em auto;

  overflow-x: hidden;
  overflow-y: hidden;
}

.scrollmenu {
  overflow-x: auto;
  overflow-y: hidden;
}
